/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box; 
	margin: 0px; 
	padding: 0px;
	font-family: "accord",sans-serif;
  }
  
  @font-face {
	  font-family: accord;
	  src: url("/Fonts/Accord-Medium.woff") format("woff");
  }
  
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* lightmode */
	  color-scheme: light dark;
	  --color-text:#111;
	  --color-heading: #ffffff;
	  --color-paragraaf: #ffffff;
	  --color-background:white;
	  --color-backgroundnav: #ffffff;
	  --color-backgroundlabel:#e2212a;
	  --color-playbuttons:#e2212a;
	  --color-backgroundspecials: #c4171d;
	  --color-backgroundbody: #f4f4f4;
	  --color-toggle: #c4171d;
	  --color-themaD:#111;
	  --color-themaA: #fff;
	  --color-themaL: #fff;
	  --color-themaO: #c4171d;
	  --color-achtergrondfooterdisclaimer: #000;
	  --color-achtergrondfooter: #1e1815;
	  --color-linkfooter: #ffffff;
	  --color-linknav: #000;
	  --color-navburgermenulinks: #f4f4f4;
      --color-fontkleurlabel: #f4f4f4;
  }

main{
    background-color: white;
}

main header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1.25em 0 1.25em;
    margin: 0 0 1em;
    z-index: 0;
}

main header div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-backgroundlabel);
    padding: .5em .75em;
    border-radius: 3px;
    margin-bottom: 1em;
}

main header p{
    font-size: .75em;
    color: var(--color-fontkleurlabel);
    text-transform: uppercase;
}

main header button{
    background-color: var(--color-backgroundlabel);
    display: flex;
    border: none;
    flex-direction: row;
    color: #fff;
    border-radius: 20px;
    padding: .5em 1.4em .4em 1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}


main > h2{
    padding: 0 20px 0 20px;
    margin-bottom: 0.75em;
    font-size: 26px;
}

main > p{
    padding: 0 20px 0 20px;
    font-size: 1em;
    line-height: 1.375em;
    opacity: .6;
    margin: 0;
}

main article{
    padding: 1em 20px 0 20px;
}

main article h3 {
    font-size: 24px;
    margin-top: 1.5em;
}

main article p:nth-of-type(1){
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
    margin: 1em 0;
}

main article picture{
    box-sizing: border-box;
    
}

main article picture img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

figcaption{
    font-size: .875em;
    font-weight: 100;
    opacity: .4;
    margin-bottom: .75em;
    line-height: 1;
}

main article p:nth-of-type(2) , 
main article p:nth-of-type(3) , 
main article p:nth-of-type(4) ,
main article p:nth-of-type(5) {
    font-size: 1em;
    line-height: 1.5;
    margin: 1em 0;
    color: #323232;
}

main article a{
    text-decoration: none;
    color: #e2212a;
}

main section:nth-of-type(1) h2{
    font-size: 24px;
    padding: 0 20px 0 20px;
    margin-top: 1.5em;
}


main section:nth-of-type(1) ul:nth-of-type(1) li img{
    width: 6.25em;
    height: 6.25em;
    border-radius: 3px;
}

main ul:nth-of-type(1) li p{
    padding: 0 12px;
}

main ul:nth-of-type(1) li a{
    text-decoration: none;
    color: var(--color-text);
    display: flex;
}

main ul:nth-of-type(1) li {
    padding: 0.375em 0;
}

main section:nth-of-type(1) ul:nth-of-type(1) {
    padding: 0 20px 0 20px;
    list-style: none;
    margin-bottom: 2em;
}

main section:nth-of-type(2){
    background: #dcf8c6;
    color: #323232;
    padding: .5em 1em;

    box-shadow: inset 6px 0px 0 -1px rgba(0, 0, 0, .26);
    margin: 0 20px 2em 20px;
}

main section:nth-of-type(2) p{
    display: flex;
    flex-direction: column;
    margin-block-start: 1em;
    padding-bottom: 1em;
}

main section:nth-of-type(2) a{
    color: #e2212a;
}

/* media links */

main section:nth-of-type(3) {
    border-top: 5px solid #e6e6e6;
    margin: 4em 20px 0 20px;
}

main section:nth-of-type(3) ul{
    padding: 1em 0;
    display: flex;
    list-style: none;
    justify-content: end;
}

main section:nth-of-type(3) svg{
    color: #1e1815;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1em
}


/* andere nieuws */

main section:nth-of-type(4) h2{
    font-size: 2em;
}

main section:nth-of-type(4) ul img{
    height: 116px;
    width: 144px;
    margin-right: 0.63em;
}




