/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0px; 
  padding: 0px;
  font-family: "accord";
}

@font-face {
	font-family: accord;
	src: url("/Fonts/Accord-Medium.woff") format("woff");
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	color-scheme: light dark;
	--color-text:#111;
	--color-heading: #ffffff;
	--color-paragraaf: #ffffff;
	--color-background:#eee;
	--color-backgroundlabel:#e2212a;
	--color-playbuttons:#e2212a;
	--color-backgroundspecials: #c4171d;
	--color-backgroundbody: #f4f4f4;
}

body{
	background-color: var(--color-backgroundbody);
}


/*********************/
/* Logo AT5 Nav */
/*********************/
.white{
    box-sizing: border-box;
    fill: #fff;
}

.red{
box-sizing: border-box;
fill: #e2212a;
}

.icon-tip{
width: 1.6rem;
height: 1.6rem;
position: fixed;
bottom: .5rem;
right: .875rem;
color: #e2212a;
}




/****************/
/* navigatie    */
/****************/


nav{
	display: flex;
	padding: 8px 8px 8px 10px;
	
}

nav button{
	border: none;
	background: none;
	width: 4em;
	font-size: 0.7em;
	
}


nav svg{
	height: 1.7em;
	
}

h1{
	margin-right: auto;
	position: relative;
}
 



/****************/
/* main section1 */
/****************/

section:first-child img{
	width: 100%;
}

section:first-child button{
	display: flex;
	border: none;
    cursor: pointer;
    fill: currentColor;
    color: #fff;
    width: 4em;
    height: 4em;
    padding: 6px 5px 6px 10px;
    background-color: #e2212a;
    border-radius: 0 0 0 5px;
}

section:nth-child(1) a{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr ;
	text-decoration: none;
	
}

section:nth-child(1) h2{
	color: var(--color-heading);
	grid-area: 1 / 1;
	align-self: end;
	padding: 1em 0.5em 0.5em;
	
}

section:nth-child(1) p{
	color: var(--color-paragraaf);
	background-color: var(--color-backgroundlabel);
	width: 5em;
	grid-area: 1 / 1;
	align-self: end;
	padding: 0.2em 0.7em 0.2em 0.7em;
	margin-left: 0.7em;
	border-radius: 3px;
	margin-bottom: 6.5em;
}

section:nth-child(1) img{
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: -1;
}

section:nth-child(1) button{
	grid-row-start: 1;
	grid-column-start: 1;
	justify-self: end;
}




/****************/
/* main section2 */
/****************/


section:nth-child(2) {
	display: flex;
	justify-content: space-evenly;
	padding: 0.8em;
	margin-bottom: 3em;
	border-bottom: solid;
}

section:nth-child(2) a{
	display:flex;
	justify-content: center;
	align-items: center;
    padding: .125rem;
	text-decoration: none;
	color: var(--color-text);
}

section:nth-of-type(2) a:nth-of-type(1) svg {
	width: 1.6em;
	margin-right: 0.9em;
}

section:nth-of-type(2) a:nth-of-type(2) svg {
	width: 1.6em;
	margin-right: 0.9em;
}

section:nth-of-type(2) a:nth-of-type(3) svg {
	width: 1.6em;
	margin-right: 0.9em;
}




/****************/
/* main section3*/
/****************/
section:nth-child(3){
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.25em;
}


section:nth-child(3) li{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	padding: 0.4em 0 0.4em 0;
}

section:nth-child(3) li img{
	grid-row-start: 1;
	grid-row-end: 3;
	width: 6.56em;
	border-radius: 3px;
}

section:nth-child(3) li h2, p{
	grid-column-start: 2;
	font-size: 1em;
}

section:nth-child(3) h2{
	grid-row-start: 2;
	margin-left: 0.8em;
}

section:nth-child(3) ul p{
	align-self: end;
	color: var(--color-paragraaf);
	background-color: var(--color-backgroundlabel);
	text-align: center;
	width: 4em;
	padding: 0.4em 0.2em 0.4em 0.2em;
	border-radius: 3px;
	font-size: 0.8em;
	margin-left: 0.8em;
	margin-bottom: 0.5em;
}


/****************/
/* Meest bekeken*/
/****************/
/* https://stackoverflow.com/questions/10877/how-can-you-customize-the-numbers-in-an-ordered-list */

section:nth-child(4){
	padding: 1.5em 0.7em;
}

section:nth-child(4) h2{
	padding-bottom: 1em;
}

section:nth-child(4) ol{
	counter-reset: item;
	
}

section:nth-child(4) ol li {
	display: flex;
    gap: 1em;
	margin-bottom: .5em;
	align-items: center;
  }

section:nth-child(4) ol li:nth-child(1) {
	gap: 1.5em;
  }

  
section:nth-child(4) ol li::before {
	display: flex;
	content: counter(item) "";
	counter-increment: item;
	font-size: 3em;
	color: var(--color-backgroundlabel); 
	justify-content: center;
}

section:nth-child(4) ol a{
	text-decoration: none;
	color: var(--color-text);
	box-sizing: border-box;
	
  }

/****************/
/*tip van de redactie*/
/****************/

section:nth-of-type(5) img{
	width: 25em;
	height: 20em;
}

section:nth-child(5) li button{
	display: flex;
	border: none;
    cursor: pointer;
    fill: currentColor;
    color: #fff;
    width: 4em;
    height: 4em;
    padding: 6px 5px 6px 10px;
    background-color: #e2212a;
    border-radius: 0 0 0 5px;
}



section:nth-child(5) a{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr ;
	text-decoration: none;
	
}

section:nth-child(5) ul h2{
	color: var(--color-heading);
	grid-area: 1 / 1;
	align-self: end;
	padding: 1em 0.5em 0.5em;
	
}

section:nth-child(5) p{
	color: var(--color-paragraaf);
	background-color: var(--color-backgroundlabel);
	width: 5em;
	grid-area: 1 / 1;
	align-self: end;
	padding: 0.2em 0.7em 0.2em 0.7em;
	margin-left: 0.7em;
	border-radius: 3px;
	margin-bottom: 7em;
}

section:nth-child(5) img{
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: -1;
}

section:nth-child(5) li button{
	grid-row-start: 1;
	grid-column-start: 1;
	justify-self: end;
}

section:nth-child(5){
	padding-left: 1em;
	padding-right: 1em;
}

section:nth-child(5) ul{
	list-style: none;
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	border-radius: 2px;
}

section:nth-child(5) ul li{
	scroll-snap-align: center;
}


section:nth-child(5) h2:nth-child(1){
	margin-bottom: 0.5em;
}

/****************/
/*laad meer knop*/
/****************/

section:nth-child(6){
	display: flex;
	justify-content: center;
}

section:nth-child(6) button{
	display: flex;
	align-items: center;
	margin: 2em ;
	padding: 0.5em 1.4em 0.5em 1em;
	border-radius: 5px;
	border: none;
	font-size: 1em;
	background-color: var(--color-backgroundlabel);
	color: var(--color-paragraaf);
}

section:nth-child(6) button svg:nth-child(1){
cursor: pointer;
fill: currentColor;
width: 1.125em;
height: 1.125em;
margin-right: .75rem;
transition: transform .3s;
color: #fff;	
}

/****************/
/*    Special   */
/****************/

section:nth-child(7){
	background-image: url(/images/at5-breaker-right-down.webp);
	background-size: cover;
	background-color: var(--color-backgroundspecials);
	overflow: auto;
	padding: 3em 0;
	background-blend-mode: overlay;
	
}

section:nth-of-type(7) img{
	width: 25em;
	height: 20em;
}

section:nth-child(7) li button{
	display: flex;
	border: none;
    cursor: pointer;
    fill: currentColor;
    color: #fff;
    width: 4em;
    height: 4em;
    padding: 6px 5px 6px 10px;
    background-color: #e2212a;
    border-radius: 0 10px 0 5px;
	z-index: 1;
}



section:nth-child(7) a{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr ;
	text-decoration: none;
	
}

section:nth-child(7) h2:nth-of-type(1){
	color: var(--color-heading);
	font-size: 1.375em;
}

section:nth-child(7) div {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	padding: 0 1.5em;
}

section:nth-child(7) a:first-of-type button:nth-child(1){
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem 1.4rem .5rem 1rem;
	border: none;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, .2);
	backdrop-filter: blur(10px);
	cursor: pointer;
	font-size: 1em;
	color: var(--color-paragraaf);
	width: 15em;
	height: 3em;
}


section:nth-child(7) a:first-of-type svg:nth-child(2){
    fill: #fff;
	width: 2em;
	height: 1em;
}


section:nth-child(7) ul h2{
	color: var(--color-heading);
	grid-area: 1 / 1;
	align-self: end;
	padding: 1em 0.5em 0.5em;
	z-index: 1;
}

section:nth-child(7) ul p{
	color: var(--color-paragraaf);
	background-color: var(--color-backgroundlabel);
	width: 5em;
	grid-area: 1 / 1;
	align-self: end;
	padding: 0.2em 0.7em 0.2em 0.7em;
	margin-left: 0.7em;
	border-radius: 3px;
	margin-bottom: 7em;
	z-index: 1;
}

section:nth-child(7) img{
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: 15px;
	z-index: 0;
}

section:nth-child(7) li button{
	grid-row-start: 1;
	grid-column-start: 1;
	justify-self: end;
}

section:nth-child(7) ul{
	list-style: none;
	display: flex;
	scroll-snap-type: x mandatory;
}

section:nth-child(7) ul li{
	scroll-snap-align: center;
	padding-top: 1em;
	padding-right: 1.5em;
	
}


section:nth-child(7) li h2:nth-child(1){
	margin-bottom: 0.5em;
}

/****************/
/*    footer    */
/****************/

footer svg{
	width: 3.75em;
}




